#!/bin/bash
set -euxo pipefail

exec > >(tee /var/log/ubuntu-eks-node-bootstrap.log | logger -t ubuntu-eks-node-bootstrap -s 2>/dev/console) 2>&1

/etc/eks/bootstrap.sh "${cluster_name}" \
  --apiserver-endpoint "${cluster_endpoint}" \
  --b64-cluster-ca "${cluster_ca}" \
  --container-runtime containerd
